<!DOCTYPE html>
<html>
<head>
    <title>TRIVIA 1st Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h2>Please select the difficulty level and category before start</h2>
        
        <!-- Category Dropdown -->
        <select class="dropdown" id="category-select">
            <option value="">Select Category</option>
            <option value="23">History</option>
            <option value="17">Science</option>
            <option value="12">Music</option>
        </select>
        
        <!-- Difficulty Dropdown -->
        <select class="dropdown" id="difficulty-select">
            <option value="">Select Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        
        <button class="btn">Let's Play</button>
        <div id="warning" class="warning"></div>
    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>