body,
html {
    padding: 0;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text1 {
    align-self: center;
    margin: 20px;
    margin-top: 10px;
    padding: 15px 150px;
    font-size: large;
    background-color: rgb(101, 189, 219);
    align-items: center;
    border: none;
}

.image {
    align-self: center;
}

.text2 {
    margin: 20px;
    padding: 70px 15px;
    font-size: large;
    background-color: lightsteelblue;
    border: none;
    text-align: center;
}