<!DOCTYPE html>
<html>
<head>
    <title>TRIVIA Trophy Page</title>
    <link rel="stylesheet" href="/styles/styles3.css"> <!-- Link to styles3.css -->
</head>
<body>
    <div class="container">
        <div class="text1">Congrats!</div>
        <div class="image">
            <img src="trophypic.jpeg" alt="Trophy Image">
        </div>
        <div class="text2" id="finalScore">You Earned 0 Points!</div> <!-- Final score will be updated via script -->
    </div>
    
    <script src="/scripts/script3.js"></script> <!-- Link to script3.js -->
</body>
</html>
